<div class="card--interior">
    <div class="contenidoDesplegable--info">
        <div class="info--titulo">
            <h3 class="info--txt">Radiobutton</h3>
        </div>
    </div>

    <div class="caja--componente">
        <div ng-include src=" 'code_html/atom_html/radiobutton.html' "></div>

    </div>


    <div class="contenedor--componentes">
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="ban-col-xs-1 info">
                        <md-icon md-font-set="banicon-informacion titulo--icono">
                        </md-icon>
                    </div>
                    <div class="ban-col-xs-11 caja--texto">

                        <p class="recomendacion--texto"></p>
                    </div>
                </div>
                <div class="separador"></div>
                <div class="separador">html5</div>
                <textarea class="codigo" rows="8">
                  <div class="ban-row">

                      <div class="ban-col-md-6">
                          <form name="empresaForm">
                              <div ng-controller="ActualizacionController" class="wow fadeInDown">
                                  <div class="contenedor--perfil">
                                          <div class="ban-col-sm-12 ban-col-md-2">

                                              <div class="contenido--actuacion">
                                                  <md-radio-group ng-model="demo.showTooltip" class="">
                                                      <div class="marco--select">
                                                          <md-radio-button value="Conservador" class="md-primary md-primary ">Opcion 1</md-radio-button>
                                                      </div>
                                                      <div class="marco--select">
                                                          <md-radio-button value="Prudente" class="md-primary">Opcion 2</md-radio-button>
                                                      </div>
                                                  </md-radio-group>
                                              </div>
                                              <div class="contenido--descrip">
                                                  <md-tooltip class="marco--tooltip" md-visible="demo.showTooltip == 'Conservador'">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</md-toozltip>
                                                  <md-tooltip class="marco--tooltip" md-visible="demo.showTooltip == 'Prudente'">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</md-tooltip>
                                              </div>
                                          </div>
                                  </div>
                              </div>
                          </form>
                      </div>

                      <div class="ban-col-md-12">
                          <!-- <div class="ban-container"> -->
                              <form name="usuarioForm">
                                  <div ng-controller="agregarOtro">
                                      <div ng-repeat="item in items" ng-controller="EditarUsuarioCtrl as cc">
                                          <div class=" wow fadeInDown">
                                              <!-- <div class="">
                                              </div> -->
                                              <div class="">
                                                  <md-radio-group class="md-primary" ng-model="cc.selectedId1">
                                                      <div ng-repeat='person in cc.contacts1' class="input--roles">
                                                          <md-radio-button ng-value="person.id" ng-disabled="person.isDisabled">
                                                              {{person.fullName}}
                                                          </md-radio-button>
                                                      </div>
                                                  </md-radio-group>

                                                  <p class="input--roles__roles">
                                                      <span class="lastName"></span>{{cc.selectedUser1()}}
                                                  </p>
                                              </div>
                                          </div>

                                      </div>
                                  </div>

                          </form>
                              </div>
                      <!-- </div> -->

                  </div>
                  </div>

                    </textarea>
                <div class="separador">css</div>
                <textarea class="codigo" rows="8">

                </textarea>
            </div>
            <div class="separador">js</div>
            <textarea class="codigo" rows="8">

            </textarea>
        </div>

    </div>


</div>
</div>


</div>
</div>


</div>
