/* FUENTE LATO */


@font-face {
	font-family: 'lato';
    src: url('../fonts/lato-bold-600-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-600-webfont.woff') format('woff'),
         url('../fonts/lato-bold-600-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-600-webfont.svg#latobold') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'lato';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'lato';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: 400;
	font-style: normal;
}


body{
	background-color: $background-body;
  	color:$color-primario;
	font-family: 'Lato';
	height: auto;
	@include font-14;
	@include lato-normal;
}
md-content{
	background-color:$background-body;
	color: $color-primario;
}
.boton-star {
	color: #536374;
	float: right !important;
	i {
		color: $color-primario;
	}
}
.titulos{
	font-size: $font-titulo;
	font-weight: 400;
	line-height: 32px;
	color: $color-primario;
}
// .subtitulos{
// 	font-size: $font-subtitulo;
//   font-weight: 600;
//   line-height: 32px;
//   padding: 20px 0;
// 	color: $color-primario;
// 	display: inline-block;
// }
/* CSS CARD CARRUSEL-RESUMEN */
.card-b {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: rgb(255,255,255);
	border-radius: 0;
	width: 99.5%;
	margin: 0 auto 1em;

}
.card--carrusel{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: rgb(255,255,255);
	border-radius: 0;
	padding: 0 1.5em 1.5em;
	width: 99.5%;
	margin: 0 auto 1em;
	-webkit-box-shadow: 0 3px 2px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: 0 3px 2px 0px rgba(0,0,0,0.14);
	box-shadow: 0 3px 2px 0px rgba(0,0,0,0.14);
}
.card--resumen {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 0;
	padding: 1em 1em;
	width: 99.5%;
	margin: 0 auto;
	-webkit-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.14);
	box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.14);


		.card--titulo {
			padding: 0px 0px 30px 0px ;

			.subtitulos {
				color: #486C7C;
				display: inline-block;
				line-height: 0.4em;
				font-weight: bold;
			}
		}



	.card--header__sinborder{
		border-bottom: none;
	}

	.card--contenido {
		padding: 0;
	}
	.titulo--seccion{
		font-family: 'Lato Light';
		@include font-36;
		line-height: 1em;
		display: inline-block;
		margin-right: 3em;
		vertical-align: middle;
	}
	.titulo--icono{
		color: #D0D0D0;
		padding-right: 0.3em;
		vertical-align: sub;
		margin: 0px;
		font-size: 43px;
	}
}
/* CSS CARD CARRUSEL-RESUMEN */


.form--resumen {
	margin: 0px 0px 0px 0px ;
}



/* BOTONES */
.md-button.boton1 {
	color:rgba(255, 255, 255, 0.96) ;
	background-color: $color-botones;
	border-radius: 0;
	min-height: 37px;
	min-width: 180px;
	vertical-align: top;
	&.h--width{
		width: 100%;
    padding: 0;
    margin: 0;
		margin-top: 0.5em;
	}
	&.boton--xl{
		min-width: 250px;
	}
	span{
		vertical-align: middle;
	}
}
.md-button.boton1:not([disabled]) {
  color:rgba(255, 255, 255, 0.96);
	background-color: $color-botones;
}
.md-button.boton1:not([disabled]):hover, .md-button.boton3:not([disabled]):hover  {
	color:rgba(255, 255, 255, 0.96);
	background-color: $color-botones;
}
.md-button.boton2 {
	color: $color-botones;
	background-color: rgba(255, 255, 255, 0.96);
	border-radius: 0;
	line-height: 30px;
	min-height: 37px;
	min-width: 180px;
	vertical-align: top;
	&.h--width{
		width: 100%;
    padding: 0;
    margin: 0;
		margin-top: 0.5em;
	}
	&.boton--xl{
		min-width: 250px;
	}
	span{
		vertical-align: sub;
	}
}
.md-button.boton2:not([disabled]) {
	color: $color-botones;
	background-color: rgba(255, 255, 255, 0.96) !important;
}

.md-button.boton3 {
    background-color: $color-botones;
		color: #FFFFFF;
		margin: 5px 3px 5px 5px;
		min-height: 29px;
		line-height: 2em;
		min-width: 55px;
		border-radius: 0;
}

.boton--select {
	display: inline-block;
  text-align: right;
	padding: 0.3em 0.3em 0;
	.icons--color {
		color: $color-active;
	}
}


.buscador--avanzado {
	z-index: 100;
	width: 100%;
	background-color: #FFFFFF;
	padding: 1.25em 0em 1em 0em;
	//color: #536374 !important;
	margin-bottom: 1em;
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.24);
	.buscador--cerrar {
		position: absolute;
		right: 0px;
		top: 62px;
	}
	.buscador--input {
		margin: 0.5em 0 0 2em;
		i {
			color: #4DA1B8;
		}
		label.ng-scope {
			padding-left: 0em;
			//color: $color-secundario;
			padding-bottom: 5px;
			font-size: 14px;
			margin-left: 0.0625em;
		}
	}
}

body > section.contenido--seccion > div > div > div > form > div > div > div.card--header.ng-scope > div.buscador--avanzado.buscador-show > div:nth-child(1) > div:nth-child(3) > md-input-container > label {
	color: $color-primario;
}
.md-input-focused {
	color: $color-active;
}


.buscador-show_benef {
	opacity: 1;
	height: auto;
	margin-top: 3.125em;
}

.buscador-show.ng-hide-add, .buscador-show.ng-hide-remove {
	transition: all 0.2s ease-out;
}

.buscador-show.ng-hide {
	opacity: 0;
	height: 0;
}

.buscador--boton {
	padding-right: 1.75em;
	text-align: right;
}
.buscador--avanzado md-datepicker {
	padding-bottom: 1.5em;
	display: list-item;
}



/* ESTILOS HELPER */

.right{
	text-align: right;
}
.add-margin{
	margin-bottom: 30px;

}
.h--alignRight{
	text-align: right;
}
/* ESTILOS QUE PISAN NATIVOS DE BOOTSTRAP Y ANGULAR */


input, button, select, textarea {
	font-family: 'Lato';
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
	color:$color-primario;
	font-size: $font-parrafo;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
	border-color: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder, .md-select-value *:first-child{
	color:#536374;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-has-value label{
  color: #5BABBF;
}



md-select .md-select-value.md-select-placeholder {
    color: rgba(0,0,0,0.7);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-select:not([disabled]):focus .md-select-value {
	border-color: $color-active;
}

body > section.contenido--seccion > div > div > div > div > div > div.card--header.ng-scope > div.buscador--avanzado.buscador-show > div:nth-child(1) > div:nth-child(3) > md-input-container > md-icon {
	color: $color-active;
}

md-select-menu md-option[selected] {
	color: $color-botones !important;
}
md-select-menu md-content md-option {
	color: $color-primario !important;
}

.md-select-value { font-size: $font-parrafo;}


md-radio-button:not([disabled]).md-checked .md-off {
	border-color: $color-botones;
}
md-radio-button:not([disabled]) .md-on {
	background-color: $color-botones;
}
md-radio-group .md-checked:not([disabled]) .md-ink-ripple {
	color: $color-botones;
}
md-radio-button:not([disabled]).md-checked .md-ink-ripple {
	color: $color-botones;
}
md-radio-button.md-checked .md-off {
	border-color: $color-botones;
}
md-radio-group .md-checked .md-ink-ripple {
	color: $color-botones;
}

md-radio-button.md-checked .md-ink-ripple {
	color: $color-botones;
}
md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before,  md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
	background-color: $color-botones;
	opacity: 0.25;
	filter: alpha(opacity=25);
}

md-radio-button .md-on {
	background-color: $color-botones;
}

md-radio-button[disabled] .md-container .md-on {
    border-color: rgba(0,0,0,0.26);
	background-color: rgba(0, 0, 0, 0.25);
}
md-select.md-default-theme ._md-select-value._md-select-placeholder, md-select ._md-select-value._md-select-placeholder {
	color: #536374;
}

md-optgroup label {
	text-transform: none !important;
	font-size: 16px !important;
}

md-select-menu > md-content > md-optgroup > md-option > div._md-text span.selectEmpresa {
	float: right;
}

md-option ._md-text {
	padding-top: 16px;
	white-space: inherit !important;
}
md-select-menu md-content md-option {
	display: block;
	padding-left: 20px;
}

.md-button.md-warn.md-fab {
    color: rgb(255,255,255);
	background-color: #5BABBF;
}
#sticker > div.quiero--favoritos > div > md-content > div > md-fab-speed-dial > md-fab-trigger > button  {
    color: rgb(255,255,255);
	background-color: #5BABBF;
}
md-input-container.md-input-focused:not(.md-input-has-value) md-select.md-default-theme ._md-select-value._md-select-placeholder, md-input-container.md-input-focused:not(.md-input-has-value) md-select ._md-select-value._md-select-placeholder {
	color: $color-active;
}

md-select.md-default-theme:not([disabled]):focus ._md-select-value, md-select:not([disabled]):focus ._md-select-value {
	border-color: $color-active;
	color: $color-primario;
}



/***********
Estilos nuevos
 ****************/

.md-button.md-fab.md-mini {
	span{
		font-size: 24px;
		position: relative;
		top: 2px;
	}
}

.iconos-titulo {
	span{
		font-size: 90px;
		position: relative;
		top: 2px;
	}
}

.iconos-favoritos{
	span{
		font-size: 24px;
		position: relative;
		top: 2px;
	}
}


.card--indicador .configuracion--titulo .editar {
	font-size: 36px !important;

}

.ban-marginBottomCard{
	margin-bottom: 7em;
}


.ban-marginCero{
	margin: 0;
}

.ban-marginTop{
	margin-top: 0;
}


.sumar--listados {
	margin-top: 25px;
	margin: 30px 0px 0px 70px;

	.otro--beneficiario {
		display: inline-block;
		color: rgb(83, 99, 116);
		font-size: 0.875rem;
		text-transform: uppercase;
		vertical-align: middle;
		padding-right: 0.5em;
	}
	.mas--icono {
		font-size: 2.125rem;
		vertical-align: middle;
		padding-right: 0.2em;
		color: $color-active;
	}
}
.subtitulos {
    display: inline-block;
    display: inline-block;
    line-height: 32px;
    margin: 0.625em 0em 0.625em 0em;
    vertical-align: middle;
		@include font-18;

}
 @media screen and (max-width: 767px){
    .ban-marginCero{
 		margin: 2em 0;
 	}
    .ban-marginTop{
 		margin-top: 8em !important;
 	}

 	 .contenido--background{
       display: none;
     }
 		.h--alignRight{
 			display: flex;
 			justify-content: space-between;
 		}
 		.buscador--avanzado{
 			.buscador--input {
     		margin: 1em;
 				md-icon.material-icons {
 				   margin-top: -6px;
 				}
 			}
 			.buscador--boton{
 				padding: 1em 1em 0;
 			}
 		}
 		.md-button.boton1, .md-button.boton2{
			min-width: inherit;
 			width: 100%;
			margin: 0;
 		}
		.boton--select{
			left: 50%;
			right: inherit;
			top: -42px;
		}
 }
@media (min-width: 768px) and (max-width: 991px){
	.buscador--avanzado{
		.buscador--input {
			margin: 0.4em 0 0 1em;
		}
	}
}
