
//PADDING

.h--paddingTop1{
  padding-top: 1em;
}
.h--paddingTop2{
  padding-top: 2em;
}
.h--paddingRight0 {
  padding-right: 0;
}
.h--paddingTop0_Right2 {
  padding:0 2em;
}
.h--paddingRight2 {
  padding-right: 2em;
}
.h--paddingLeft0 {
  padding-left: 0;
}
.h--paddingLeft2 {
  padding-left: 2em;
}
.h--marginLeft2 {
      padding: 0 1.8em;
}
.h--paddingBottom2 {
    padding-bottom: 2em;
}
.h--paddingBottom3{
  padding-bottom: 3em;
}

//MARGIN

.h--marginTop0 {
    margin-top: 0;
}
.h--marginTop1{
  margin-top: 1em;
}
.h--marginTop3{
	margin-top:3em;
}
.h--marginTop2{
	margin-top:2em;
}
 .h--marginBottom0{
  margin-bottom: 0em;
}
.h--marginBottom1{
  margin-bottom: 1em;
}
.h--maginBottom2{
  margin-bottom: 2em;
}

//TEXT

.h--textRight{
	text-align: right;
}
.h--textCenter{
  text-align: center;
}

.h--textRight {
    text-align: right;
}
