

/* ESTILOS LOGIN */
/*nuevo imput color*/
md-select .md-select-value.md-select-placeholder {
    color: olive;
}

md-input-container {
    &.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
    &:not(.md-input-invalid).md-input-focused .md-input {
          border-color: #5BABBF;
    }
}

md-select:not([disabled]):focus .md-select-value {
    border-color: #5BABBF;
}

md-select-menu {
    md-option[selected] {
        color: #336A9B !important;
    }

    md-content md-option {
        color: #536374 !important;
    }
}

.md-select-value {
    font-size: 16px;
}

md-radio-button:not([disabled]) {
    &.md-checked .md-off {
        border-color: #336A9B;
    }

    .md-on {
        background-color: #336A9B;
    }
}

md-radio-group .md-checked:not([disabled]) .md-ink-ripple {
    color: #336A9B;
}

md-radio-button {
    &:not([disabled]).md-checked .md-ink-ripple {
        color: #336A9B;
    }

    &.md-checked .md-off {
        border-color: #336A9B;
    }
}

md-radio-button.md-checked .md-ink-ripple,
md-radio-group .md-checked .md-ink-ripple {
    color: #336A9B;
}

md-radio-group {
    &.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before,
    &.md-focused:not(:empty) .md-checked .md-container:before {
        background-color: #336A9B;
        opacity: 0.25;
        filter: alpha(opacity = 25);
    }
}


.login--contenido_bg {
    background-image: url(../images/seccionBanner-Empresa.png);
    background-repeat: no-repeat;
  }

.login--contenido{
    background-image: url("../images/seccionBanner-Empresa.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 618px;
    text-align: center;
    .card--login{
      background-color: #FFF;
      width: 370px;
      height: auto;
      text-align: center;
      display: inline-block;
      padding: 2em 0 2.3em;
      margin: 2.5em 0 5em;
      box-sizing: border-box;
      -moz-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.14);
      -webkit-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.14);
      &.configuracion{
        width: 100%;
        padding: 1em;
      }
      .login--titulo {
        padding: 0;
        text-align: center;
        .titulo--bienvenido {
            line-height: 1.2em;
            padding: 0;
            @include font-48;
            @include lato-light;
        }
        .titulo--mensaje{
            line-height: 32px;
            letter-spacing: .3px;
            color: #536374;
            @include font-14;
            @include lato-normal;
            span.titulo--cliente {
                text-transform: uppercase;
                color: #5BABBF;
                font-weight: 600;
                &:before {
                   border-bottom: 1px solid $color-active;
                   content: 'Empresa';
                   padding-bottom: 2px;
                }
            }
        }
      }
      .login--datos {
        padding-top: 1.5em;
        padding-bottom: 1em;
        label{
          @include font-16;
        }
        .login--input {
            text-align: left;
            width: 200px;
            height: 67px;
            margin-bottom: 0;
            margin-top: 0.5;
            padding-bottom: 0;
            .md-required:after {
               content: ' '; /* elimina * de los input */
            }
            md-icon {
                color: $color-active;
            }
        }
      }
      .login--ingresar {
        text-align: center;
        margin-bottom: 0;
        .login--pregunta {
          line-height: 22px;
          @include font-14;
          a {
              color: #336A9B;
              line-height: 2em !important;
          }
        }
      }
    }
}


.h--paddingTop{
  padding-top: 1em;
}
@media all and (max-width: 767px) {
  .login--contenido{
    background-image: none;
    height: inherit;
    .ban-container{
      padding-left: 0;
      padding-right: 0;
    }
    .card--login{
      width: 100%;
      margin: 0;
      .login--ingresar {
        padding: 1em;
      }
      .login--titulo{
         .titulo--bienvenido{
           @include font-36;
         }
      }
      .login--datos{
         .login--input{
           width: 80%;
         }
      }
    }
  }
}

/* FIN ESTILOS LOGIN */
