/* TABLAS*/
#tablas {
  color: #536374;
  max-width: 100%;
  @include font-14;
}
.table {
    background-color: #fff;
  }
  /*tablas */
table.tableContenido{
  border-bottom: none;

	width: 100%;
  thead{
      .tableContenido--head__normal{
        color: #F0F2F5;
        background-color: #536374 !important;
      }
      .tableContenido--head__recomendado{
         margin-top: 10px;
         color: #F0F2F5;
         background-color: #5BABBF;
      }
      .th--label__otra{
         text-align: left;
         padding: 1em 5em;
         width: 25%;
      }
      .th--label{
         text-align: left;
         width: 10%;
      }
     .th--label__vacio{
        padding: 1em 5em !important;
        text-align: left;
        width: 20%;
      }
		th {
			line-height: 1.3em;
			padding: 0 0.75em;
			padding-top: 0.5em;
			text-align: right;
			@include font-14;

			&.tableContenido--titulo{
					font-weight: normal;
					text-align: left;
					padding-left: 0;
					vertical-align: middle;
					@include font-16;
			}
			&.tableContenido--texto{
           line-height: 1.3em;
           padding-top: 0.5em;
           padding-bottom: 0.5em;
				width: 14%;
      }
		  span{
				display: block;
				&.tableContenido--fecha {
		    padding-left: 0.3em;
				@include font-12;
				@include lato-normal;
				}
		  }
      td.td--display{
        display: none;
      }

		}
		tr {
			border-bottom: 1px solid #F0F2F5;
			@include lato-bold-600;
		}

    &.tableContenido--head{
      background-color: #E3E6ED;
      th {
        padding: 1em 0.7em;
        vertical-align: middle;
        &.td--label{
					text-align: left;
        }
        &.acciones__center{
          text-align: center;
          .md-button.md-icon-button span{
            color: #5BABBF;
          }
        }
      }
      &.head__destacado{
        background-color: #5BABBF;
        th {
          color: #FFFFFF;
          @include font-16;
          &.td--label{
            padding-left: 0;
          }
        }
      }
      &.head__segundario{
        background-color: #536374;
        th {
          color: #FFFFFF;
          @include font-16;
          &.td--label{
            padding-left: 0;
          }
          &.th--aligncenter{
             text-align: center!important;
          }

        }
      }
    }
  }
  tbody{
		tr{
			@include font-14;
			border-bottom: 1px solid #F0F2F5;
			td{
				text-align: right;
            &.td--label__otra{
               padding: 1em 3.75em !important;
               text-align: left;

               }
				&.td--label{
					text-align: left;
					span{
						color: $color-active;
						padding-right: 0.5em;
						@include lato-bold-600;
					}
				}
				&.td--bold{
					@include lato-bold-600;
				}
				&.td--italic{
					font-style: italic;
				}
            &.valor--td__producto{
					    padding: 0;
              vertical-align: middle;
					    width: 30%;
              text-align: left;
				}
        &.valor--td__info{
			     padding: 0 0.75em;
           vertical-align: middle;
			     width: 10%;
           text-align: right;
				}
        &.info--principal__cuenta{
          padding: 0 0.75em 0 0;
          vertical-align: middle;
          width: 21%;
          text-align: left;
          height: 60px;
        }
        &.contenido--monto{
          overflow: hidden;
          text-align: right;
          width: 20%;
          padding: 0 0 0.3em;
        }

				&.valor--td{
					padding: 0 0.75em;
          vertical-align: middle;
					width: 16%;
				}
        &.info--porcent{
          padding: 0 0.75em;
          vertical-align: middle;
          width: 15%;
          text-align:left;
        }
        &.valor--td__porcent{
			     padding: 0 0.75em;
           vertical-align: middle;
			     width: 9%;
           text-align: right;
				}
        &.__up:after {
          content: '\25b2';
          font-size: 0.75em;
          padding-left: 0.5em;
          color: #5EA214;
        }
        &.__down:after {
          color: #E60A00;
          content: '\25bc';
          font-size: 0.75em;
          padding-left: 0.5em;
        }
      }
			&.tableContenido--valor{
				background-color: #B0DAE4;
				td{
					padding: 1em 0.75em;
				}
			}
			&.ban--clear{
				td {
					line-height: 20px;
				}
			}
         &.tableContenido--head__otra {
           background-color: #5BABBF;
           color: #F0F2F5;
           font-weight: bold;
           td{
             padding: 1em 0.75em;
           }

         }
		  &.tableContenido--head{
				background-color: #E3E6ED;


				td{
					padding: 1em 0.75em;

				}
			}
  	  &.tableContenido--info{
  				td{
  					&.info--iconos{
  						vertical-align: middle;
  						width: 4%;
              text-align: center;
              &.iconos__left{
                text-align: right;
                button.md-icon-button{
                  padding-right: 0;
                  text-align: right;
                }
              }
  		      }
  					&.info--principal{
  						line-height: 1.3em;
  						text-align: left;
  					  vertical-align: middle;
  				    span{
  							color: #5BABBF;
  							padding-right: 0.6em;
  							@include lato-bold-600;
  							&.info--porcentaje{
  								color: inherit;
  							}
  				    }
  						&.info--padding{
  							padding: 0.8em 0 0.6em 1.3em;
  						}
  					}
            &.contenedor--acciones {
              overflow: hidden;
              text-align: right;
              width: 10%;
              padding: 0 0 0.3em;
              .acciones--pendiente {
                color: #F69D00;
              }
              .acciones--realizado {
                color: #7EB645;
                font-size: 23px;
                position: absolute;
                line-height: 32px;
              }
              .acciones--rechazado {
                color: #C21818;
                font-size: 23px;
                position: absolute;
                line-height: 32px;

              }
              .acciones--icono {
                color: $color-active;
              }
              .acciones{
                float: right;
                visibility: hidden;
                vertical-align: middle;
                i {
                  color: $color-active;
                }
              }
              &.acciones__center{
                text-align: center;
                width: 7%;
                .acciones{
                  float: inherit;
                }
              }
              .ver--mas{
                display: none;
              }
              i.material-icons.acciones--check {
                  color: #7EB645;
                  font-size: 2em;
                  padding-left: 2px;
                  padding-top: 2px;
              }
              i.material-icons.acciones--block{
                color: #9B9B9B;
                font-size: 1.8em;
                padding-left: 2px;
                    padding-top: 2px;
              }
              i.material-icons.acciones--cancel{
                color: #C21818;
                font-size: 2em;
                padding-left: 2px;
                    padding-top: 2px;
              }
            }
            &.valor--boton{
              visibility: hidden;
              float: right;
            }
            &.contenido--monto{
              .datos--botones{
                visibility: hidden;
                float: right;
                .ver--mas{
                  display: none;
                }
              }
            }
  				}
				&.info__valorizado{
					background-color: #F0F2F5;
					td{
						font-style: italic;
						padding: 0 0.75em;
						@include font-12;
						&.info--principal{
							padding: 0;
              text-align: right;
						}
            &.info--cuenta{
              text-align: left;
              p{
                width: 18%;
                display: inline-block;
                &.cuenta--plan{
                  padding-left: 4%;
                }
                &.cuenta--comision{
                  width: 22%;
                }
              }
            }
					}
				}
        &.info--detalle{
          .valor--td{
            vertical-align: middle;
  					width: 11%;
            word-break: break-all;
          }
          .info--datos{
            width: 11%;
            text-align: left;
            padding: 0 0.75em;
            vertical-align: middle;
            word-break: break-all;
          }
          .datos--product{
            width: 14%;
            text-align: left;
            padding: 0 0.75em;
            vertical-align: middle;
            word-break: break-all;
          }
          .info--intrument{
            width: 15%;
            padding: 0 0.75em 0 0;
            line-height: 1.3em;
            text-align: left;
            vertical-align: middle;
            word-break: break-all;
          }
          .info--principal{
            width: 19%;
            padding: 0 0.75em 0 0;
          }
          .info--precio{
            width: 16%;
            text-align: right;
            padding: 0.5em 0.75em;
            vertical-align: middle;
          }
          .info--precio--bolsa{
            width: 22%;
            text-align: right;
            padding: 0.5em 0.75em;
            vertical-align: middle;
          }

        }
        &:hover{
          background-color: #fbfbfb;
          .contenedor--acciones {
            .acciones{
              visibility: visible;
            }
          }
          td.contenido--monto {
            .datos--botones{
              visibility: visible;
            }
          }
  			}
        &.info__descripcion{
          background-color: #F0F2F5;
          td{
            text-align: left;
            &.info--title{
              padding: 1.1em 0;
              @include lato-bold-600;
            }
          }
        }
	    }
  	}
	}
	&.tableContenido__margin{
		margin-bottom: 0;
	}
}



.pie--tabla{
  height: auto;
  margin: 0;
  overflow: hidden;
  padding-top: 1em;
  width: 100%;
  .pie--contenido{
    padding: 0;
    margin: 0 0 1em 0;
    .pie--paginacion {
      padding: 0;
      text-align: right;
      .paginacion--accion{
        display: inline-block;
        vertical-align: middle;
      }
      p.paginacion--parrafo  {
        margin: 0.625em 0em 0.625em 0em;
        @include font-14;
      }
      p.paginacion--parrafo__right  {
        text-align: right;
      }
      md-select.paginacion--select {
        margin: 0 1em;
      }
    }
  }
  md-select.md-default-theme:not([disabled]):focus ._md-select-value, md-select:not([disabled]):focus ._md-select-value {
    border-bottom-color: $color-active;
    color: rgba(0,0,0,0.87);
  }
}


.personas table.tableContenido{



}

.contenidoDesplegable {
    padding:  0.1em;
    -webkit-box-shadow:inset 0px 0px 5px 0px #b9b9b9;
	  box-shadow:inset 0px 0px 5px 0px #b9b9b9;
}
//Estilos apertura patrimonio
.contenidoDesplegable--info{
	padding: 0 2em 1em;
	background-color: #fff;
	border: 10px solid #E6EAF0;
  text-align: left;
  visibility: visible;
	.info--titulo {
    border-bottom: 1px solid #CCD1D9;
    margin-bottom: 1em;
    padding-top: 1em;
    text-align: left;
    .info--txt{
      height: auto;
  		line-height: 1.5em;
  		margin: 0 auto;
  		padding: 0;
  		color: #536374;
      display: inline-block;
  		@include font-20;
    }
    .info{
      padding-left: 1em;
      display: inline-flex;
      vertical-align: bottom;
        .banicon-informacion{
          @include font-14;
        }
        .info--texto{
          padding-left: 0;
        }
      }
      .info--operacion{
        display: inline-flex;
        float: right;
        .operacion--numero{
          padding-left: 1em;
          @include lato-bold-600;
          @include font-16;
        }
        &.operacion--activo {
          color: #7EB645;
        }
        &.operacion--inactivo {
          color: $color-caption;
        }
      }
	}
  .info--comprobante {
    border-bottom: 4px solid #ccc;
    margin-bottom: 1em;
    padding-top: 1em;
    position: relative;
    text-align: left;
    &:before {
      background: #003F7C;
      bottom: -4px;
      content: '';
      height: 4px;
      left: 0;
      position: absolute;
      width: 80%;
    }
    .info--txt{
      height: auto;
  		line-height: 1.5em;
  		margin: 0 auto;
  		padding: 0;
  		color: #536374;
      display: inline-block;
  		@include font-20;
    }
    .info{
      padding-left: 1em;
      display: inline-flex;
      vertical-align: bottom;
        .banicon-informacion{
          @include font-14;
        }
        .info--texto{
          padding-left: 0;
        }
      }
      .info--operacion{
        display: inline-flex;
        float: right;
        .operacion--numero{
          padding-left: 1em;
          @include lato-bold-600;
          @include font-16;
        }
        &.operacion--activo {
          color: #7EB645;
        }
        &.operacion--inactivo {
          color: $color-caption;
        }
      }
	}
  .contenido--datos {
    margin: 0;
    padding: 0;

    h4 {
      line-height: 1.5em;
      color: #5BABBF;
      @include font-12;
    }

    p {
      line-height: 1.5em;
      margin: 0.2em 0 0;
      padding: 0;
      color: #486C7C;
      @include font-16;
    }
  }

		.info--periodo {
			ul {
				list-style-type: none;
				height: 22px;
				line-height: 1.5em;
				float: right;
			}
			li {
				float: left;
				height: 40px;
				  .boton--max {
					background: transparent;
					border: none;
					color: #B3B5BB;
					text-transform: uppercase;
					button {
						background: transparent;
						border: none;
						border-radius: 3px;
            height: 20px;
            color:#B3B5BB;
            padding: 0 0.5em;
						text-transform: uppercase;
            @include font-12;
						&:focus {
							color: #333;
							background: #eee;
							opacity: 0.8;
							border: none;
							outline: none;
  						border-bottom: 2px solid #69B4C5;
  						background: transparent;
						}
            &:hover {
  						color: #69B4C5;
  						border-bottom: 2px solid #69B4C5;
  						background: transparent;
  					}

  					&:active {
  						color: #69B4C5;
  						border-bottom: 2px solid #69B4C5;
  						background: transparent;
  					}
					}
				}
				button {
					  height: 20px;
				    color:#B3B5BB;
				    line-height: 1.5em;
				    padding: 0 0.5em;
				    background: transparent;
				    border: none;
  					@include font-12;
  					&:focus {
  						color: #69B4C5;
  						border-bottom: 2px solid #69B4C5;
  						background: transparent;
  						outline: none;
  					}
				}
			}
		}
		.texto-apertura {
			width: auto;
			text-align: justify;
			margin-top: 1em;
      line-height: 1.5em;
			@include font-14;

			p {
				@include font-14;
				line-height: 1.5em;
			}
		}
		.evolucionPatrimonio--btn{
			color: $color-active;
			max-height: 40px;
			outline: none;
      padding-left: 0.5em;
      @include font-14;
      .md-button.md-icon-button{
        vertical-align: middle;
        margin-right: 0;
        margin-left: 0;
      }
  		i.btn--ver{
  			color: $color-active !important;
      }
      .btn--accion{
        text-transform: initial;
        @include lato-normal;
        span{
          padding-left: 0.4em;
        }
      }
      .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
        background-color: transparent;
      }
	  }
    .info--numeroperacion{
      float: left;
      padding: 60px 0px 5px 0px;
      position:relative;
      vertical-align: bottom;
      .numeroperacion--digito{
        padding-left: 1em;
        @include lato-bold-600;
        @include font-16;
      }
    }

}


  .ver--autorizadores {
    margin-top: 1em;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 1em;
    span:focus {
      outline: none;
    }
    button {
      vertical-align: middle;
      i {
        color: $color-active;
      }
    }
  }

.contenidoDesplegable--acciones{
  text-align: right;
  .acciones--botones {
    float: right;
    padding-bottom: 1em;
  }
}
.h--borderBoton{
  border-top: 1px dashed #ccc;
  padding-top: 1em;
}
/*Bitacora*/
.bitacora{
    border-radius: 0px;
    border-top: 1px dashed #CCD1D9;
    box-sizing: border-box;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin-top: 0.7em;
    padding: 1.5em 1.4em 1.5em 0.5em;
    text-align: left;
    .bitacora--header{
      max-height: 3.12em;
      padding-left: 0.5em;
      .bitacora--titulo {
        padding: 0;
        float: left;
        .subtitulos__bitacora {
          padding: 0;
        }
      }
      .bitacora--cerrar   {
        float: right;
        padding: 0;
      }

    }
    .bitacora--header--titulo{
      padding-bottom: 0.2em;
      md-icon.banicon-informacion.titulo--icono {
        font-size: 20px;
        color: #687C92;
        padding: 0;
        margin: 0;
        padding-right: 0.4em;
        vertical-align: middle;
      }
    }
    .bitacora--contenido {
      @include font-14;
      ul.bitacora--ul {
        padding: 0 0.75em 0 0.75em;
        line-height: 3em;
        li.bitacora--li{
          line-height:3em;
          padding: 0;
        }
      }
      .bitacora--fecha {
        line-height: 2em;
        text-align: right;
      }
      i.bitacora--check {
        color: #7EB645;
        line-height: 28px;
        padding-right: 0.438em;
        vertical-align: sub;
        @include font-20;
      }
      .bitacora--detalle {
        line-height: 2em;
      }
      .bitacora--nombre {
        font-weight: 600;
        line-height: 2em;
      }
      .bitacora--accion {
        text-align: right;
        line-height: 1.750em;
        i.bitacora--comprobate{
          color: $color-active;
          font-size: 20px
        }
        i.bitacora--comprobate__inactivo {
          visibility: hidden;
        }
      }
    }
    .bitacora--contenido--texto {
          color: #9B9B9B;
          font-style: italic;
          line-height: 1.4em;
          padding-left: 0.9em;
          text-align: justify;
          @include font-12;

      }
      .informacion--atencion{
        margin: 0.5em 0 1em;
      }


  }
.ban--paddingTop{
  padding-top: 1em;
}
/* FIN ESTILOS TABLAS */

.contendidoMonto{
  text-align: right;
  padding: 1em 0 0;
  .contendidoMonto--texto{
    color: #536374;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.8em;
    @include font-20;
  }
  .contendidoMonto--valor{
    color: #5BABBF;
    display: inline-block;
    vertical-align: middle;
    @include font-22;
  }
  .contendidoMonto--monto{
    margin-top: 20px;
    color: #536374;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    @include font-24;
  }
  .contendidoMonto--comprobante{
    margin-top: 10px;
    color: #5BABBF;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    @include font-36;
  }
}

.info{
  text-align: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  vertical-align: top;
  .info--titulo{
    display: inline-block;
  }
  .info--texto{
    color: $color-caption;
    font-style: italic;
    padding-left: 0.5em;
    padding-right: 2em;
    text-align: justify;
    @include font-14;
  }
  .banicon-informacion{
      @include font-18;
      color:#536374;

  }
  .material-icons.informese--confirmacion {
      @include font-14;
      vertical-align: middle;
      padding-top: 0.8em;
  }

}
.texto--tabla{
  margin-top: 2em;
  @include lato-bold-600;
}
.h--borderNone{
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.h--borderInfo{
  border-top: 1px dashed #ccc;
  padding-top: 1.5em;
  margin-top: 1.5em;
}
.h--borderTop{
  border-top: 1px dashed #ccc;
  margin-top: 2em;
  padding-top: 0.2em;
}
.md-button.boton--aportar {
  color:rgba(255, 255, 255, 0.96) ;
  background-color: $color-botones;
  border-radius: 0;
  min-height: 27px;
  min-width: 90px;
  float: left;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.md-button.boton--aportar:not([disabled]) {
  color:rgba(255, 255, 255, 0.96);
  background-color: $color-botones;
}
.md-button.boton--aportar:not([disabled]):hover {
  color:rgba(255, 255, 255, 0.96);
  background-color: $color-botones;
}
.md-button.boton--rescatar {
  color: $color-botones;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 0;
  min-height: 27px;
  min-width: 90px;
  float: left;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.md-button.boton--rescatar:not([disabled]) {
  color: $color-botones;
  background-color: rgba(255, 255, 255, 0.96) !important;
}
.agregar--nuevo{
  margin: 0.625em 0em 0em 0em;
}
.beneficiario--confirmacion{
  padding: 3.125em 0em 0em 0em;
}
@media (max-width:991px){
  .contendidoMonto{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    /* border-bottom: 1px solid #CCD1D9; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    padding: 1em 0 0;
      .contendidoMonto--texto{
        @include font-16;
      }
      .contendidoMonto--valor{
        @include font-20;
      }
  }
}
@media screen and (max-width: 800px) {
  table.tableContenido{
    tbody{
      tr{
        border: none;
        &.tableContenido--info{
          &.info--detalle{
          background-color: #FFFFFF;
          border-radius: 2px;
          display: block;
          margin-top: 1em;
          -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
          -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
          padding: 1em 0.5em 0.7em;
          td{
            border-bottom: none !important;
            display: block;
            height: auto;
            word-break: break-all;
            padding: 0 1.25em 0 1.25em;
            text-align: right;
            vertical-align: middle;
            &.contenedor--acciones{
              border-top: 1px solid #F0F2F5 !important;
              padding-top: 0 !important;
              margin-top: 0.5em;
              padding-left: 0 !important;
              .ver--mas{
                display: inline !important;
                visibility: visible;
                float: left;
                padding-top: 1.1em;
              }
              .acciones{
                display: inline;
                visibility: visible;
              }
            }
            &.contenido--monto{
              border-top: 1px solid #F0F2F5 !important;
              padding-top: 0 !important;
              margin-top: 0.5em;
              padding-left: 0 !important;
              .datos--botones{
                visibility: visible !important;
                float: inherit;
                .ver--mas{
                  display: inline !important;
                  visibility: visible;
                  float: left;
                  padding-top: 1.1em;
                }
              }
            }
            &[data-title]:before {
              color: #757575;
              content: attr(data-title);
              float: left;
              font-size: inherit;
              font-weight: 600;
            }
            &.info--iconos{
              display: none !important;
              -webkit-animation: fadeIn 1s;
            }
            &.info--datos, &.info--porcent, &.valor--td__porcent, &.info--principal, &.info--principal__cuenta, &.valor--td, &.contenedor--acciones, &.info--precio, &.info--precio--bolsa, &.valor--td__info, &.contenido--acciones, &.contenido--monto, &.info--intrument, &.datos--product{
              width: inherit;
              text-align: right;
              padding: 0.5em 0.75em;
            }
          }
        }
        &.info__valorizado{
          td.info--cuenta{
            padding: 0.5em;
            p:nth-child(1), p:nth-child(2), p:nth-child(4) {
              display: none;
            }
            p:nth-child(3){
              width: inherit;
            }
            p:nth-child(5){
              width: inherit;
              float: right;
            }
          }
        }
        &.info__cuenta{
          border: none;
          padding: 1em;
          display: block;
          td:nth-child(3), td:nth-child(4), td:nth-child(5), td.valor--td:nth-child(6) {
             display: none;
          }
          td{
            border-bottom: none !important;
            display: block;
            height: auto;
            padding-left: 0 !important;
            padding: 0 1.25em 0 1.25em;
            text-align: left;
            vertical-align: middle;
            width: 100%;
            box-sizing: border-box;
            &.contenido--monto{
              border-top: 1px solid #F0F2F5 !important;
              padding-top: 0 !important;
              margin-top: 0.5em;
              .datos--botones{
                visibility: visible !important;
                float: inherit;
                .ver--mas{
                  display: inline !important;
                  visibility: visible;
                  float: left;
                  padding-top: 1.1em;
                }
              }
            }
          }
        }
        &.info__descripcion{
          padding: 0 1em 1em;
          display: block;
          td:nth-child(1){
             display: none;
          }
          td{
            border-bottom: none !important;
            display: block;
            height: auto;
            padding-left: 0 !important;
            padding: 0 1.25em 0 1.25em;
            text-align: left;
            vertical-align: middle;
            width: 100%;
            box-sizing: border-box;
          }
        }
        &:hover{
          background-color: inherit;
        }
      }
        &.animacionApertura{
          padding: 0.1em;
          td{
            border: none;
            padding-left: 0 !important;
            &.animacionApertura--shadow{
              -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
              -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
              box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
            }
          }

        }
      }
    }
    &.responsive{
      margin-bottom: 0;
    }
  }
  .contenidoDesplegable {
     padding: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
  }
  .contenidoDesplegable--info{
    .info--titulo {
      .info--txt{
        padding-bottom: 0.5em;
        vertical-align: top;
        @include font-16;
      }
      .info--operacion{
        padding-top: 0.5em;
        padding-bottom: 1em;
        @include font-14;
        .operacion--numero{
          @include font-14;
        }
      }
    }
    .contenido--datos{
      p{
        @include font-14;
      }
    }
  }
  .h--borderTop {
    margin-top: 0.5em;
  }
  .h--paddingCenter{
    padding-left: 1em;
    padding-right: 1em;
    .informacion--atencion{
      p.informacion--atencion__txt {
        display: inline;
        line-height: 1.2em;
        @include font-12;
      }
    }
  }
  .contenidoDesplegable--acciones{
    padding-top: 0;
    .acciones--botones {
      float: inherit;
      padding-bottom: 1em;
    }
  }
  .tabsContenido{
    md-tab-content {
      padding: 0.5em;
    }
    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
        padding: 12px 15px !important;
        @include lato-bold-600;
    }
  }
  .h--borderBoton{
    padding-top: 1em;
  }
  .md-button.boton--rescatar:not([disabled]){
    width: 100%;
    margin-bottom: 0;
  }
  .md-button.boton--aportar:not([disabled]){
      width: 100%;
  }
}
@media (max-width:767px){
  table.tableContenido{
    thead{
      th.tableContenido--titulo {
        padding-bottom: 0.5em;
      }
      tr{
        th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5) {
         display: none;
        }
      }
    }
    tbody{
    &.responsive{
  		tr{
  			td:nth-child(3), td:nth-child(4), td:nth-child(5), td.valor--td:nth-child(6)  {
           display: none;
        }
        &.tableContenido--info{
          td{
            &.info--iconos{
              width: 1%;
            }
            &.info--principal{
              width: inherit;
              &.principal__left{
                padding-left: 0.5em;
              }
            }
          }
          &.info__valorizado{
            td.info--cuenta{
              p:nth-child(1), p:nth-child(2), p:nth-child(4) {
                display: none;
              }
              p:nth-child(3){
                width: inherit;
              }
              p:nth-child(5){
                width: inherit;
                float: right;
              }
            }
          }
          &.info__padding{
            padding: 0 0.8em;
            display: block;
          }
        }
      }
        tr.ban--clear{
          display: none;
        }
      }
    }
  }
  .agregar--nuevo{
    margin: 0;
  }
  .contenidoDesplegable--info{
    padding: 0.5em 1em 1.5em;
    .subtitulo{
      @include font-16;
    }
    .info--periodo {
     margin: 0;
    }
  }
  .bitacora{
    &.ban-apertura {
      padding: 1.5em 1.3em 0 0.5em;
    }
    .bitacora--contenido{
      margin-bottom: 1em;
    }
  }
  .h--borderTop{
    margin-bottom: 0;
  }
  .bitacora{
    padding: 0 1em;
  }
  .contendidoMonto{
      .contendidoMonto--valor{
        @include font-18;
      }
  }
}
@media (max-width:320px){
  .contenidoDesplegable--info{
    .info--titulo {
      .info--txt{
        @include font-14;
        vertical-align: top;
      }
    }
  }
}
/* FIN TABLAS*/
