body.private-wealth {
    /* ESTILOS HEADER */
    header {
        .menuSitios {
            li {
                a {
                    color: white !important;
                    &.active {
                        color: #5BABBF !important;
                        border-top: 3px solid #5BABBF;
                    }
                }
            }
        }
        nav#navegacionPublica {
            background-color: #000;
            .menuPublico--link {
                color: white !important;
            }
            .menuPublicoMobil {
                md-icon {
                    i {
                        color: white !important;
                    }
                }
            }
            .menuPublico {
                .menuPublico--item {
                    &:hover {
                        &::after {
                            border-top: 8px solid #626466 !important;
                        }
                    }
                    .menuPublico--link {
                        color: white;
                    }
                    a.menuPublico--link.md-button.md-ink-ripple {
                        &.activo-menuPublico {
                            background-color: #626466 !important;
                        }
                    }
                }
            }
            .menuLogin {
                .menuLogin--despliegue {
                    md-icon {
                        i {
                            color: white;
                        }
                    }
                    p {
                        color: white;
                    }
                }
            }
        }
    }
    /* FIN ESTILOS HEADER */
    #menuPublicoMobil {
        background-color: white;
        .menuPublicoMobil--eleccionSitio {
            background-color: #000;
            border-right: solid 1px rgba(0, 0, 0, 0.22);
            li:nth-child(1),
            li:nth-child(2) {
                a {
                    color: #fff;
                }
            }
            li.activo {
                border-bottom: solid 4px #5BABBF;
                a {
                    color: #5BABBF;
                }
            }
        }
        .menuPublicoMobil--buscador {
            padding: 15px;
            md-input-container {
                background-color: rgba(240, 242, 245, 0.22);
                border: solid 1px rgba(151, 151, 151, 0.3);
            }
        }
        .nivel2 {
            background-color: #F9F9F9;
            .md-button.md-ink-ripple {
                color: #4A4A4A;
            }
        }
    }
    #login {
        .panelLogin {
            .panelLogin--usuario {
                background-color: #000;
                .panelLogin--usuario__contenedor {
                    p {
                        color: #fff !important;
                    }
                }
                button.md-icon-button.md-button.md-ink-ripple {

                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}