
$color-azul-1:#336A9B; //ex $color-botones $background-principal $color-secundario-azul
$color-azul-2:#486C7C; //ex $color-sub-titulos
$color-azul-3:#003673; //ex $background-secundario

$color-gris-1:#F0F2F5; // ex $background-body $background-tablas
$color-gris-2:#CCD1D9; // ex $linea-subtitle
$color-gris-3:#9B9B9B; // ex $color-caption $linea-input $linea-divider #818A94
$color-gris-4:#536374; // ex $color-primario
$color-gris-5:#4A4A4A; // ex $color-secundario



$color-blanco:#FFFFFF; // ex $color-secundario-blanco $color-cabecera
$color-verde-1:#5BABBF; // ex $color-active
$color-rojo-1:#FF564E; // ex $color-error




/*
.............
COLORES
..............
*/
//COLORES DE BACKGROUND
// $background-body: #F0F2F5; // Background body ( gris claro )
// $background-principal: #336A9B; // Cabecera menú, footer, botones (azul)
// $background-secundario: #003673; // Footer (azul oscuro)
// $background-tablas: #F0F2F5; // Tablas (gris)
//
// //COLORES DE TEXTOS
// $color-primario: #536374; // Color textos
// $color-secundario: #4A4A4A; // Color gris para textos (gris oscuro)
// $color-secundario-blanco: #FFFFFF; // Blanco
// $color-secundario-azul: #336A9B; // Azul
// $color-cabecera: #FFFFFF; // Blanco
// $color-caption: #9B9B9B; // Gris claro
// $color-active: #5BABBF;// Color para links (verde agua)
// $color-error: #FF564E; // Color para mensajes de error (rojo)
// $color-botones: #336A9B; // botones y links
// $color-sub-titulos: #486C7C; // Color de los subtitulos
//
//
// //COLORES DE LÍNEAS
// $linea-input: #9B9B9B;  // gris más claro
// $linea-divider: #9B9B9B; // para dividir (un poco más oscura)
// $linea-subtitle: #CCD1D9;



/* ..............
  	FONT SIZE
*/

//Hint (imput) - Caption
@mixin font-9{
		font:{
		size: 9px;
		size: 0.5625rem;
		}
}

@mixin font-11{
	font:{
	size: 11px;
	size: 0.6875rem;
	}
}
@mixin font-12{
	font:{
	size: 12px;
	size: 0.75rem;
	}
}
// Tablas - Imput
@mixin font-14{
	font:{
	size: 14px;
	size: 0.875rem;
	}

}
// Body - general
@mixin font-16{
	font:{
	size: 16px;
	size: 1rem;
	}
}
// menu Quiero
@mixin font-18{
	font:{
	size: 18px;
	size: 1.125rem;
	}
}
@mixin font-20{
	font:{
	size: 20px;
	size: 1.25rem;
	}
}

// menu Quiero activo
@mixin font-24{
	font:{
	size: 24px;
	size: 1.5rem;
	}
}
@mixin font-26{
	font:{
	size: 26px;
	size: 1.625rem;
	}
}
@mixin font-22{
	font:{
	size: 22px;
	size: 1.375rem;
	}
}

// Quiero..
@mixin font-30{
	font:{
	size: 30px;
	size: 1.875rem;
	}
}
@mixin font-34{
	font:{
	size: 34px;
	size: 2.125rem;
	}
}
@mixin font-36{
	font:{
	size: 36px;
	size: 2.25rem;
	}
}
@mixin font-42{
	font:{
	size: 42px;
	size: 2.625rem;
	}
}
@mixin font-44{
	font:{
	size: 44px;
	size: 2.75rem;
	}
}
// Bienvenida configuración
@mixin font-48{
	font:{
	size: 48px;
	size: 3rem;
	}
	line-height: 1.2em;
	@include lato-light;
}
@mixin font-60{
	font:{
	size: 60px;
	size: 3.75rem;
	}
}
@mixin lato-light{
	font-weight: 300;
}
@mixin lato-normal{
	font-weight: 400;
}
@mixin lato-bold-600{
	font-weight: 600;
}
/* usar:
	.clase {
		@include lato-bold-600;
		@include font-16;
	}

  	FIN FONT SIZE
.................... */

/*
.............
COLORES
..............
*/

//COLORES DE BACKGROUND
$background-body: #F0F2F5; // Background body ( gris claro )
$background-principal: #336A9B; // Cabecera menú, footer, botones (azul)
$background-secundario: #003673; // Footer (azul oscuro)
$background-tablas: #F0F2F5; // Tablas (gris)

//COLORES DE TEXTOS
$color-primario: #536374; // Color textos
$color-secundario: #4A4A4A; // Color gris para textos (gris oscuro)
$color-secundario-blanco: #FFFFFF; // Blanco
$color-secundario-azul: #336A9B; // Azul
$color-cabecera: #FFFFFF; // Blanco
$color-caption: #9B9B9B; // Gris claro
$color-active: #5BABBF;// Color para links (verde agua)
$color-error: #FF564E; // Color para mensajes de error (rojo)
$color-botones: #336A9B; // botones y links
$color-sub-titulos: #486C7C; // Color de los subtitulos


//COLORES DE LÍNEAS
$linea-input: #9B9B9B;  // gris más claro
$linea-divider: #9B9B9B; // para dividir (un poco más oscura)
$linea-subtitle: #CCD1D9;

/*
.............
TAMAÑOS
..............
*/

//CABECERA QUIERO
$cabecera-titulo: 1.9rem;
$cabecera-botones: 1.1rem;


//CONTENIDO
$font-titulo: 1.5rem;
$font-subtitulo: 1.0rem;
$font-parrafo: 16px;
$font-caption:12px;


//FORMULARIOS
$font-label:14px;
$font-input: 1.0rem;
$font-mensaje: 0.75rem;
$font-moneda: 1.25rem;


//BOTONES
$font-botones:16px;


//TABLAS
$font-tablas: 14px;


//SELECT EMPRESAS
$font-select-empresa: 16px;
