<div class="">
    <div ng-app=" expandCollapseApp" ng-controller="expandCollapseCtrl">
        <div>
            <div class="colapsable--lateral ">
                <div ng-click="active= !active" ng-class="{'quiero-cerrado': active, 'quiero-expandido':!active}">
                    <p>
                        ATOMO
                        <span class="icono--menu1">
                               <i class="material-icons">keyboard_arrow_down</i>
                            </span>
                        <span class="icono--menu2">
                            <i class="material-icons">keyboard_arrow_up</i>
                           </span>
                    </p>
                </div>

                <div class="slideDown" ng-hide="active">
                    <div class="contenido--menu">
                        <ul>
                            <li>
                                <md-button class="" ng-href="#/">
                                    <p>
                                        Bars
                                    </p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/atom">
                                    <p>Button</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/">
                                    <p>Checkbox</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/">
                                    <p>Chips</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/">
                                    <p>Colors</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/">
                                    <p>Dropdown</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/">
                                    <p>Footer</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/">
                                    <p>Gráficos</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/">
                                    <p>Iconos</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/">
                                    <p>Imágenes</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/">
                                    <p>Input</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="#/">
                                    <p>Link</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Logotipo</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Numeros</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Pagination</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Radiobutton</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Scroll</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Loader</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Tab</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Text area</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Textos</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Tooltip</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="">
                                    <p>Video</p>
                                </md-button>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="colapsable--lateral">
                <div ng-click="active1 = !active1" ng-class="{'quiero-cerrado': active1, 'quiero-expandido': !active1}">
                    <p>
                        MOLECULE
                        <span class="icono--menu1">
                         <i class="material-icons">keyboard_arrow_down</i>
                     </span>
                        <span class="icono--menu2">
                         <i class="material-icons">keyboard_arrow_up</i>
                     </span>
                    </p>
                </div>
                <div class="slideDown" ng-hide="active1">
                    <div class="contenido--menu">
                        <ul>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Bars</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Checkbox</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Dropdown list</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Graficos</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Información</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Input</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Pagination</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Radiobutton</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Slider</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Text area</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Texto</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button ng-href="#/molecule">
                                    <p>Tooltip</p>
                                </md-button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="colapsable--lateral">
                <div ng-click="active2 = !active2" ng-class="{'quiero-cerrado': active2, 'quiero-expandido': !active2}">
                    <p>
                        ORGANISM
                        <span class="icono--menu1">
                         <i class="material-icons">keyboard_arrow_down</i>
                     </span>
                        <span class="icono--menu2">
                         <i class="material-icons">keyboard_arrow_up</i>
                     </span>
                    </p>
                </div>
                <div class="slideDown" ng-hide="active2">
                    <div class="contenido--menu">
                        <ul>
                            <li>
                                <md-button class="" ng-href="#/organism">
                                    <p>Alert</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="listado-usuarios">
                                    <p>Bars</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="listado-beneficiarios">
                                    <p>Bienvenida</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Button</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Comprobantes</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Contrato</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Dropdown Navbar</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Dropdown list</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Forms</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Globos</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Gráficos</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Icono</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Información</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Input</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Textarea</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Linea de tiempo</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Login</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Modales</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Movimientos (dropdown)</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Navigation Bar</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Pagination</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Progress Bar</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Recomendación</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Resumenes</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Slidenav</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Tab</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Text scroll area</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Texto (icono)</p>
                                </md-button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="colapsable--lateral">
                <div ng-click="active3 = !active3" ng-class="{'quiero-cerrado': active3, 'quiero-expandido': !active3}">
                    <p>
                        TEMPLATE
                        <span class="icono--menu1">
                         <i class="material-icons">keyboard_arrow_down</i>
                     </span>
                        <span class="icono--menu2">
                         <i class="material-icons">keyboard_arrow_up</i>
                     </span>
                    </p>
                </div>
                <div class="slideDown" ng-hide="active3">
                    <div class="contenido--menu">
                        <ul>
                            <li>
                                <md-button class="" ng-href="#/template">
                                    <p>Alert</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="listado-usuarios">
                                    <p>Bars</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="listado-beneficiarios">
                                    <p>Bienvenida</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Button</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Comprobantes</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Contrato</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Dropdown Navbar</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Dropdown list</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Forms</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Globos</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Gráficos</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Icono</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Información</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Input</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Textarea</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Linea de tiempo</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Login</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Modales</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Movimientos (dropdown)</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Navigation Bar</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Pagination</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Progress Bar</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Recomendación</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Resumenes</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Slidenav</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Tab</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Text scroll area</p>
                                </md-button>
                            </li>
                            <li>
                                <md-button href="favoritos">
                                    <p>Texto (icono)</p>
                                </md-button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
